body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

h2 {
    margin: 10px;
}

#status {
    margin-bottom: 10px;
    font-weight: bold;
    color: blue;
}

#map {
    height: 500px;
    width: 90%;
    margin: auto;
    border: 2px solid black;
    border-radius: 10px;
}
