body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

h2 {
    background-color: #d32f2f;
    color: white;
    padding: 10px;
    margin: 0;
}

#map {
    height: 90vh;
    width: 100%;
}
